################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/bin
**/obj
*.suo
**/Properties
/config
/modules/thumbnailconvertermodule/src/ThumbnailCoverter/ThumbnailCoverter.csproj.user
